{% load static %}
<h1 class="display-5 fw-bold lh-1 mb-3">Languages</h1>
<div class="d-flex">
    <!-- python -->
    {% include "portfolio/partials/python/python.html" %}   
    {% include "portfolio/partials/r/r.html" %}
    {% include "portfolio/partials/c_sharp/c_sharp.html" %}
    {% include "portfolio/partials/js/js.html" %}    
    {% include "portfolio/partials/html/html.html" %}  
    {% include "portfolio/partials/css/css.html" %}     
    {% include "portfolio/partials/jquery/jquery.html" %}     
    {% include "portfolio/partials/bash/bash.html" %}       
    {% include "portfolio/partials/vba/vba.html" %}    
</div>
