#other documents
Raw_mac_summary.pptx
basic_workflow.pptx
iLab_website_V1
realtionships.png



project_notes.txt
website_portfolio/.env
website_portfolio/db.sqlite3
.ebextensions

.DS_Store

# Django stuff:
*.log
*.pot

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt