{% extends "../base/base.html" %}
{% load static %}

{% block content %}
<div class="container py-5 gap-5 col-xxl-10 px-1 d-flex">
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/jt002.png' %}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title">JT002, a small molecule inhibitor of the NLRP3 inflammasome for the treatment of autoinflammatory disorders</h6>
        </div> 
        <div class="mb-3 ms-3">
            <a href="https://www.nature.com/articles/s41598-023-39805-z" target="_blank" class="btn btn-primary">Scientific Reports</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/jt001.png' %}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title">Pharmacology of a Potent and Novel Inhibitor of the NOD-Like Receptor Pyrin Domain-Containing Protein 3 (NLRP3) Inflammasome that Attenuates Development of Nonalcoholic Steatohepatitis and Liver Fibrosis</h6>
        </div> 
        <div class="mb-3 ms-3">
            <a href="https://pubmed.ncbi.nlm.nih.gov/37308266/" target="_blank" class="btn btn-primary">JPET</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/biobank.png' %}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title">A Living Organoid Biobank of Crohn’s Disease Patients Reveals Molecular Subtypes for Personalized Therapeutics</h6>
        </div> 
        <div class="mb-3 ms-3">
            <a href="https://www.biorxiv.org/content/10.1101/2023.03.11.532245v1" target="_blank" class="btn btn-primary">biorxiv</a>
        </div>
    </div>
</div>
<div class="container py-5 gap-5 col-xxl-10 px-1 d-flex">
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/NLRP3.png' %}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title">Overcoming Preclinical Safety Obstacles to Discover (S)-N-((1,2,3,5,6,7-Hexahydro-s-indacen-4-yl)carbamoyl)-6-(methylamino)-6,7-dihydro-5H-pyrazolo[5,1-b][1,3]oxazine-3-sulfonamide (GDC-2394): A Potent and Selective NLRP3 Inhibitor</h6>
        </div> 
        <div class="mb-3 ms-3">
            <a href="https://pubs.acs.org/doi/10.1021/acs.jmedchem.2c01250" target="_blank" class="btn btn-primary">Journal of Medicinal Chemistry</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/nc.png' %}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title">Artificial intelligence guided discovery of a barrier-protective therapy in inflammatory bowel disease</h6>
        </div> 
        <div class="mb-3 ms-3">
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8275683/" target="_blank" class="btn btn-primary">Nature Communications</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/ecig.png' %}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title">E-cigarettes compromise the gut barrier and trigger inflammation</h6>
        </div> 
        <div class="mb-3 ms-3">
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7841355/" target="_blank" class="btn btn-primary">iScience</a>
        </div>
    </div>
</div>
<div class="container py-5 gap-5 col-xxl-10 px-1 d-flex">
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/gutmicrobes.png' %}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title">The interaction of enteric bacterial effectors with the host engulfment pathway control innate immune responses</h6>
        </div> 
        <div class="mb-3 ms-3">
            <a href="https://www.tandfonline.com/doi/full/10.1080/19490976.2021.1991776" target="_blank" class="btn btn-primary">Gut Microbes</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/volcanoe.png' %}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title">TLR4 signaling and macrophage inflammatory responses are dampened by GIV/Girdin</h6>
        </div> 
        <div class="mb-3 ms-3">
            <a href="https://www.pnas.org/doi/10.1073/pnas.2011667117?url_ver=Z39.88-2003&rfr_id=ori%3Arid%3Acrossref.org&rfr_dat=cr_pub++0pubmed" target="_blank" class="btn btn-primary">PNAS</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/ELMOcell.png' %}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title">ELMO1 Regulates Autophagy Induction and Bacterial Clearance During Enteric Infection</h6>
        </div> 
        <div class="mb-3 ms-3">
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5853658/" target="_blank" class="btn btn-primary">Journal of Infectious Diseases</a>
        </div>
    </div>
</div>         
{% endblock %}