{% extends "../base/base.html" %}
{% load static %}

{% block content %}
<div class="container py-5 gap-5 col-xxl-10 px-1 d-flex flex-wrap">
    <div class="card" style="width: 10rem;">
        <img src="{% static 'images/taiwan.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Traveling</h5>
        </div> 
    </div>

    <div class="card" style="width: 10rem;">
        <img src="{% static 'images/soccer.JPG' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Soccer</h5>
        </div>
    </div>

    <div class="card" style="width: 10rem;">
        <img src="{% static 'images/scuba.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Scuba</h5>
        </div>
    </div>

    <div class="card" style="width: 10rem;">
        <img src="{% static 'images/sailing.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sailing</h5>
        </div> 
    </div>

    <div class="card" style="width: 10rem;">
        <img src="{% static 'images/surfing.JPG' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">surf</h5>
        </div>
    </div>

</div>    
  
{% endblock %}