{% extends "../base/base.html" %}
{% load static %}

{% block content %}
<div class="container col-xxl-10 px-1 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

      <div class="col-10 col-sm-8 col-lg-6">
        <img style="width: 80%;" src="{% static 'images/profile.jpeg' %}" class="d-block mx-lg-auto img-fluid rounded-circle" alt="Profile Picture" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-5">Hello there!</h1>

        <p class="lead">My name is Rama Pranadinata.</p>

        <p class="lead">I've recently made a transition from biotech to tech and have built/desgined various applications from <b>full stack apps</b>, <strong>e-commerce websites</strong>, <strong>databases</strong>, and <strong>recruiting platforms</strong>.</p>
        <p class="lead">I also have hands-on experience with DevOps having worked on personal projects using: <strong>Kubernetes, Docker, Terraform, CICD, Lambda, and Elastic Beanstalk</strong></p>

        <p class="lead">Please click on the icons below to learn more about the projects I've worked on.</p>
      </div>
      
    </div>
</div>

{% include "portfolio/partials/skills/skills.html" %}

{% endblock %}