{% extends "../base/base.html" %}
{% load static %}

{% block content %}
<div class="container col-xxl-8 px-1 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

      <div class="col-10 col-sm-8 col-lg-6">
        <img style="width: 80%;" src="{% static 'images/profile.JPG' %}" class="d-block mx-lg-auto img-fluid rounded-circle" alt="Profile Picture" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Hello!</h1>
        <p class="lead">My name is Rama Pranadinata.</p>
        <p class="lead">I'm a full stack developer that has recently made a transition from biotech to tech.</p>
        <!-- <p class="mt-5 lead">This website is hosted on AWS Elastic Beanstalk.</p> -->
        <p class="lead">Please click on the icons below to learn more about the projects I've worked on.</p>
      </div>
      
    </div>
</div>

<div class="container col-xxl-8 px-1 py-5">
  {% include "portfolio/partials/languages/languages.html" %}
  {% include "portfolio/partials/aws/aws.html" %}
  {% include "portfolio/partials/frameworks/frameworks.html" %}
</div>

  {% endblock %}